@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-slate-100 font-sans text-slate-800;
  }
}

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
}
